@font-face {
  font-family: 'Manrope';
  src: url("./fonts/Manrope-ExtraLight.ttf") format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Manrope';
  src: url("./fonts/Manrope-Light.ttf") format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Manrope';
  src: url("./fonts/Manrope-Regular.ttf") format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope';
  src: url("./fonts/BeatriceDeckTRIAL-Regular-BF64829e8e41476.otf") format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Manrope';
  src: url("./fonts/Manrope-SemiBold.ttf") format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'BeatriceDeckTrial';
  src: url("./fonts/Manrope-Bold.ttf") format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope';
  src: url("./fonts/Manrope-ExtraBold.ttf") format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'Manrope';
  src: url("./fonts/BeatriceDeckTRIAL-Extrabold-BF64829e8ed31e6.otf") format('opentype');
  font-weight: 700;
}