@use '../../../../app/styles/vars.scss';
@use '../../../../app/styles/mixins.scss';


.wrapper {
    @include mixins.liquid-glass($blur: 20px, $radius: 30px);

    display: flex;
    position: relative;
    flex-direction: column;
    aspect-ratio: 3 / 4;
    overflow: hidden;

    transition: all vars.$transition-duration ease;

    &:hover {
        transform: translateY(-10px);

        .btnContinue {
            transition: all vars.$transition-duration ease;
            opacity: 1;
        }
    }

    &:active {
        filter: brightness(0.4);
        transform: scale(0.98);
    }
}


.cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    max-height: calc(1.3rem * 2.5);
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 10px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0.9) 100%,
        );
}

.titleInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cardGenre {
    color: rgba($color: #888888, $alpha: 1);
    font-weight: 400;
    font-size: 12px;
}

.hint {
    @include mixins.liquid-glass($blur: 20px, $radius: 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #57E9DD;
    font-weight: 600;
}

.btnContinue {
    opacity: 0;
    position: absolute;
    border-radius: 30px;
    top: 40%;
    right: 50%;
    transform: translate(50%, 50%);
    gap: 5px;
    transition: all vars.$transition-duration ease;

    > svg {
        max-width: 30px;
    }
}