@use '../../../../app/styles/vars.scss';

.track {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: vars.$color-surface;
    overflow: hidden;
    margin-block: 100px;
}

.fill {
    height: 100%;
    background-color: vars.$color-accent;
    border-radius: 2px;
    transition: width vars.$transition-duration ease-out;

    &.completed {
        background-color: darken(vars.$color-accent, 20%);
    }

}